@import '../../../variables.scss';
@import '../../../mixins.scss';

.root {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

div {
    cursor: text;
    font-size: 2rem;
    width: 2rem;
    background: none;
    border: 1px solid transparent;
    text-align: center;
    outline: none;
    text-transform: uppercase;
    caret-color: transparent;

    &.focused {
        background-color: darken($color: $background-color, $amount: 2%);
        border-radius: 8px;
        border: 1px solid #acacac;
        color: $primary-color;
    }

    &.value.focused {
        color: $primary-color;
    }
    &.value:not(.focused) {
        color: $text-color;
    }

    &.key {
        font-size: 1.5rem;
        color: #999;
    }
}

@include phone {
    div {
        font-size: 1.5rem;
        width: 1.5rem;

        &.key {
            font-size: 1rem;
        }
    }
}
