<div class="root">
    <div class="content">
        <h1>Cryptogram Solver</h1>
        <div class="cryptogram-root">
            <app-encrypted-letter-input
                *ngFor="let letter of letters; index as i"
                [(value)]="letter.value"
                [(key)]="letter.key"
                [focused]="i === focusedLetterIndex ? focusedField : null"
            ></app-encrypted-letter-input>
        </div>
        <hr />

        <blockquote>
            Enter the cryptogram and click on "Solve!" to show potential
            solutions.
        </blockquote>
    </div>
    <app-keyboard
        (keyup)="handleKeyUp($event)"
        actionTitle="Solve!"
    ></app-keyboard>
</div>
