<div class="root">
    <h1>Cryptogram Solver</h1>
    <div class="content" [ngSwitch]="screen">
        <!-- CRYPTOGRAM INPUT -->
        <app-cryptogram-input
            *ngSwitchCase="ScreenStates.INPUT"
            (submit)="handleCryptogramSubmit($event)"
        >
        </app-cryptogram-input>

        <!-- LOADING SCREEN -->
        <app-loading
            *ngSwitchCase="ScreenStates.LOADING"
            (solved)="handleCryptogramSolved()"
        >
        </app-loading>

        <!-- SOLVER RESULT -->
        <app-cryptogram-result
            *ngSwitchCase="ScreenStates.RESULT"
            (reset)="handleCryptogramReset()"
        >
        </app-cryptogram-result>
    </div>
</div>
