<div class="root">
    <div class="content">
        <h1>Cryptogram Solver</h1>
        <div class="cryptogram-root">
            <div class="cryptogram-word" *ngFor="let word of words; index as i">
                <app-encrypted-letter-input
                    *ngFor="let letter of word.letters; index as j"
                    [(value)]="letter.value"
                    [(key)]="letter.key"
                    [focused]="
                        i === focusedWordIndex && j === focusedLetterIndex
                            ? focusedField
                            : null
                    "
                ></app-encrypted-letter-input>
            </div>
        </div>
        <hr />

        <blockquote>
            Enter the cryptogram and click on "Solve!" to show potential
            solutions.
        </blockquote>
    </div>
    <app-keyboard
        (keyup)="handleKeyUp($event)"
        actionTitle="Solve!"
        [lockToggled]="focusedField === 'key'"
    ></app-keyboard>
</div>
