@import '../../../variables.scss';

.cryptogram-root {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    justify-content: center;
    column-gap: 8px;

    & .cryptogram-words {
        overflow-y: auto;
    }

    & .cryptogram-word {
        display: inline-flex;
        margin-right: 2rem;
    }
}
