@import '../../../mixins.scss';
@import '../../../variables.scss';

.container {
    max-width: 512px;
    width: 512px;
    row-gap: 8px;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    @include phone {
        width: 100vw;
    }
}

.keyboard-row {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    column-gap: 8px;
    margin: 0 8px 8px 8px;

    &.actions div {
        text-transform: none;
    }
}

.keyboard-key {
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    cursor: pointer;
    display: grid;
    font-size: medium;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 54px;
    width: 100%;
    border-radius: 4px;
    background-color: $background-color-light;

    &:hover {
        filter: brightness(0.98);
    }
    &:active {
        filter: brightness(1.05);
    }

    &.spacer1 {
        background-color: inherit;
    }
    &.spacer2 {
        background-color: inherit;
    }
    &.backspace {
        background-color: $background-color-disabled;
        grid-column: 9 / 11;
        & .delete-icon {
            display: grid;
            fill: $text-color;
        }
    }
    &.lock {
        display: grid;
        &.filled {
            & .lock-icon {
                fill: $text-color;
            }
        }
        &.outlined {
            background-color: $background-color-disabled;
            & .lock-icon {
                stroke: $text-color;
            }
        }
    }
    &.space {
        grid-column: 1 / 8;
    }
    &.enter {
        grid-column: 8 / 11;
        background-color: $primary-color;
        color: $primary-contrast-color;
    }
}
