$background-color: #ececec;
$background-color-light: #ffffff;
$background-color-disabled: #dddddd;
$primary-color: #5239df;
$primary-contrast-color: #ffffff;

$text-color: #343434;
$text-extra-large: 2.2rem;
$text-large: 2rem;
$text-normal: 1.5rem;
$text-small: 1.2rem;

$phone: 640px;
